@media (max-width:991px){
    .nav-item{
        width: fit-content;

       
    }
    .about h2{
        font-size: 40px;
    }


.footer .footer-info{
 text-align: center!important;
 margin-bottom: 20px;

}

.map .info-detail{
    justify-content: start!important;
    margin-bottom: 20px;
   
   }

}

@media (max-width:768px){
    .about .count{
        border: none !important;
    }

    .download .download-resume{
        justify-content: center;
    }
   .download .logo{
    text-align: center;
   }
    .about h2{
    font-size: 20px;
    }

}

@media (max-width:576px){
    header{
        background-position-x:-235px;
    }
    .header-content{
        align-items: start!important;
    }

    h1{
        font-size: 45px!important;
    }
}